.landingcontainer {
    position:relative;
    width:100%;
    height:500px;
    display:flex;
    justify-content: center;
    text-align: center;
}
.landingimage {
    width:100%;
    position:absolute;
    top:0;
    height:500px;
    z-index: -1;
    object-fit: cover;
}
.landingorange {
    width: 50vw;
    height: 250px;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 145, 77, .6);
}
.landingtext {
    width: 80%;
    padding: 20px;
    background-color: rgb(255,255,255, .8);
}
.summarycontainer {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
position:relative;
    background-color: rgb(255, 145, 77, .6);
}
.top {
    margin-top:50px;
}
.bottom {
    margin-top: 50px;
    margin-bottom: 50px;
}
.summaryheader {
    color:black;
    padding:20px;
    background-color:white;
    border:1px solid rgb(92, 225, 230, .9);
    width:200px;

    text-align: center;
margin:30px auto;
border-radius:20px;

}
.summarycontent {
    background-color: rgb(255,255,255, .8);
    width:70%;
    height:350px;
    display:flex;
    flex-direction:row;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    margin-bottom: 2rem;
}
.summarytext {
    padding:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summarytext h2 {
    border-bottom: 2px solid rgb(255, 145, 77, .6);
    margin-bottom: 2rem;
}

.summaryimage {
    width:400px;
    padding:30px;
}
.generalsummarycontainer {
    position:relative;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.summaryblue {

    width:100%;
    height:350px;
    background-color:rgb(92, 225, 230, .7);
    position:absolute;
    bottom:-30%;
    left:0%;
    z-index:-1;


}
.summaryorange {
    width:100%;
    height:350px;
    background-color: rgb(255, 145, 77, .7);
    position:absolute;
    top:0;
    left:0%;
    z-index:-1;

}
.summarywhite {
    height:1000px;
    width:90%;
    background-color: rgb(255,255,255, .5);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:-2;
}
.reverse {
    flex-direction:row-reverse !important;

}
.teamcontent {
    height:400px;
    width:100%;
    display:flex;
    position:relative;
    flex-direction:row;
    justify-content: space-around;
}
.teamprofilecard {
    width:20%;
    position:relative;
    margin-top:auto;
    margin-bottom:auto;

}
.teamcontainer {
    text-align: center;
    display:flex;
    justify-content: space-around;
    flex-direction:column;
}
.teamheader {
    color:white;
    margin-left:auto;
    margin-right:auto;
}
.profileimage {
    width:100%;
}
.profilename {
    color:white;
}
.profiledescription {
    color:white;
}
.viewall {
    color: rgb(255, 145, 77);

font-size:20px;
position:absolute;
    bottom:0;
    right:10px;
}
.photocontainer {
    display:flex;
    flex-direction:column;
    text-align: center;
    background-color: rgb(var(--blue), .6);
}
.photoheader {
    /*color:white;
    margin-bottom:30px;
    margin-top:30px;*/


    color:black;
    padding:20px;
    background-color:white;
    border:1px solid rgb(92, 225, 230, .9);
    width:200px;

    text-align: center;
margin:30px auto;
border-radius:20px;
}
.photocontent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding-bottom: 2rem;
}
.photoimage {
    margin: 0 auto;
    width: 50%;
    border-radius: 1rem;
}
.sponsorcontainer {
display:flex;
    flex-direction: column;
    text-align: center;
    position:relative;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    background-color: rgb(var(--blue), .60);
}
.sponsorcontent {
    display:grid;
    grid-template-columns: auto auto auto;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    justify-content: center;
    column-gap: 20px;
    row-gap:20px;
    width:100%;
    padding-bottom: 2rem;
}
.sponsorheader {
    color:black;
    padding:20px;
    background-color:white;
    border:1px solid rgb(92, 225, 230, .9);
    width:200px;

    text-align: center;
margin:30px auto;
border-radius:20px;
}
.sponsorimage {
    height:100px;
    background-color: rgb(var(--white));
    padding: 0.75rem;
    border-radius: 5px;
}
.sponsorblue {
    z-index:-1;
    position:absolute;
    height:300px;
    width:700px;
    bottom:-5%;
    left:-5%;
    background-color:rgb(92, 225, 230, .8);
}
.sponsororange {
    z-index:-1;
    position:absolute;
    height:500px;
    width:400px;
    bottom:20%;
    right:-10%;
    background-color: rgb(255, 145, 77, .6);
}
footer {

    padding: 20px 0;
    display:flex;
    justify-content: center;
    text-align: center;
    /*background-color: rgb(255, 145, 77, .6);*/
}
.footercontainer {
    margin: auto 0;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    /*background-color: rgb(255, 145, 77, .6);
    background-color:rgb(92, 225, 230, .8);*/
    color: white;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {

    .summaryimage {
        width:100%;
    }
    .summarycontent {
        flex-direction:column;
    }
    .reverse {
        flex-direction: column-reverse !important;
    }
    .teamcontent {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height:inherit;
    }
    .teamprofilecard {
        margin-left:auto;
        margin-right:auto;
    }
    .sponsorblue {
        width:80%;
    }


}
